.App {
  text-align: center;
}

.button {
  color: white;
}

.red {
  background-color: red;
}

.redBold {
  font-weight: 50;
}

.yellow {
  background-color: yellow;
  color: black;
}

.yellowBold {
  font-weight: 300;
}

.green {
  background-color: green;
}

.greenBold {
  font-weight: 700;
}
